body{
    color: white;
    background:linear-gradient(rgb(6, 6, 6), rgb(43, 22, 54), rgb(0, 0, 0));
    font-family: cursive;
    overflow: hidden;
}
.navegacao{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 30px;
}
nav a:hover{
    color: blueviolet;
}
a{
    color: white;
    text-decoration: none;
}
.monster_rosa{
    width: 170px;
    height: 160px;
    animation: monster_rosa 5s infinite linear;
    position: absolute;
    margin: 42px;
}
header h1{
    margin-left: 550px;
    color: blueviolet;
}
.contacts{
    padding: 0px 90px;
    margin: 100px 100px 0px 100px;
}
footer img img{
    width: 40px;
    height: 40px;
}
footer{
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items:flex-end;

}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
@keyframes monster_rosa{
    0% {
        right: 0px;
    }
    10%{
        right: 100px;
    }
    50%{
        right: 500px;
    }
    100%{ 
        right: 0%;
    }
}
