body{
    color: white;
    background:linear-gradient(rgb(6, 6, 6), rgb(43, 22, 54), rgb(0, 0, 0));
    font-family: cursive;
}
.navegacao{
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   align-items: center;
   padding: 16px;
}

nav a:hover{
    color: blueviolet;
}
a{
    color: white;
    text-decoration: none;
}
h1{
   color: blueviolet;
}
.container{
    padding: 0px 90px;
}
.mario_projeto{
    width: 600px;
    margin-left: 200px;
    margin-top: 15px;
}
.foguete_gif{
    width: 150px;
    height: 150px;
    margin-left: 80px;
}
footer img img{
    width: 40px;
    height: 40px;
}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
.center{
    text-align: center;
    display: flex;
}
